/* Font styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/test.jpg');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


/* Header styles */
.Header {
  background: #F5C518;
  text-align: center; /* Horizontal centering */
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  width:50%;
  align-items: center; /*Vertically center the header  */
  border-radius: 5px;
  margin: 10px auto; /* Horizontally center the header */
}

/* Heading styles */
.Heading h1 {
  font-size: 2.5em;
  color: #000;

 
}
.Heading h2 {
  font-size: 1.5em;
  color: #000;
  text-align: left;
}


/* Button styles */
.button {
  background-color: #F5C518;
  color: #000; 
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto; /* Horizontally center the button */
}

.button:hover {
  background-color: #E5B417; 
}

/* Textarea styles */
.textarea {
  width: 97%;
  height: 100px; 
  border: 1px solid #666; 
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  
}

/* footer styles */
.footer {
  background-color: #000; 
  color: #FFF;
  text-align: center;
  padding: 10px;
  position: fixed; 
  left: 0;
  right: 0;
  bottom: 0;
}

/* central panel styles */
.CentralPanel {

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* subtle shadow */
  max-width: 800px; 
  margin: 80px auto 0 auto; /* 80px top margin, horizontally centered */
}


.genre-container {
  margin-top: 20px;
}
